<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reddit5Books - {{title}}</title>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
var height=-1;
var commentlength=-1;
var previousviewed=-1;
function filterunsorted(curpos) {
	var topline=curpos*200/height;
	var botline=($(window).height()+curpos)*200/height;
	var string="";
	for (i=0; i<commentlength; i++) {
		console.log(comments[i].st)
		if ($( "#line"+comments[i].st).is(":visible") || $( "#line"+comments[i].en).is(":visible")) {
		//if (comments[i].en>=topline && comments[i].st<=botline) {
			string=string+"<div id=\"comment"+i+"\">"+subjectline(i)+"</div>\n";
			//addclickhandler(i);
		}
		else {
			console.log(i+" is not visible");
		}

	}
	$("#comments").html(string);
}

/*function makeAjaxRequest(form, event, onSuccess) {
		//STOP default action
		event.preventDefault();
		var postData = $(form).serializeArray();
	    var formURL = $(form).attr("action");
	    $.ajax(
	    {
	        url : formURL,
	        type: "POST",
	        data : postData,
	        success:function(data, textStatus, jqXHR) 
	        {
	            if (onSuccess != null) {
	            	onSuccess(data);
	            }
	            disablePopup();
	        },
	        error: function(jqXHR, textStatus, errorThrown) 
	        {
	            alert("Error! Failed response from the server");
	            console.log(errorThrown + " " + textStatus);    
	        }
	    });
	}*/
function upvote(subject) {
	console.log("attempting to upvote"+subject);
	$.ajax(
	{
		url:'/upvote/{{title}}',
		type:"POST",
		data: subject,
		success:function(data, textStatus, jqXHR) {
			console.log("upvoted");
		}
	});
}

function highlight(number) {
	for (i=comments[number].st; i<=comments[number].en; i++) {
		$("#line"+i).attr("style", "background-color:yellow");
	}
}
function unhighlight(number) {
	for (i=comments[number].st; i<=comments[number].en; i++) {
		$("#line"+i).attr("style", "");
	}
}
function subjectline(number) {
	return ("Lines "+comments[number].st+"-"+comments[number].en+":\t"+comments[number].subject);
}
function showtext(number) {
	console.log("#comment"+number);
	$( "#comment"+number).html(subjectline(number)+"<br>"+comments[number].text+'<div class="upvote" style="position:relative;top:0px;width:30px;height:30px;background-color:red;" onClick="upvote(comments[$( this ).parent().attr("id").substring(4)]);event.stopPropogation;return false;"></div>');
}
function hidetext(number) {
	$( "#comment"+number).html(subjectline(number));
}
function addclickhandler(number) {
	console.log("adding click handler "+number);
	$( "#comments" ).on("click","#comment"+number, function() {
		console.log("here"+number);
		//console.log(previouslyviewed+" "+number);
		if (previousviewed==number) {
			unhighlight(previousviewed);
			previousviewed=-1;
			hidetext(number);
		}
		else {
			if (previousviewed!=-1) {
			hidetext(previousviewed);
			unhighlight(previousviewed);
			}
			highlight(number);
			previousviewed=number;
			showtext(number);
		}



	});
}



$( document ).ready(function() {
    console.log( "ready!" );

    $( "#text" ).on("scroll", function() {
		var curpos=$("#text").scrollTop();
		//need to filter the data
		filterunsorted(curpos);
		
		//console.log(botline);
		console.log(curpos);
	});
	for (i=0;i<commentlength; i++) {
		addclickhandler(i);
	}

	$("#comments").on("click", function() {
		console.log('clicked comments');
	})
	height=$("#textholder").height();
	filterunsorted(0);
	//addclickhandler(0);
	//$("#comment0").on("click", function() {
	//	console.log('wtf');
	//});
	console.log(height);
	console.log($(window).height());
});
var comments = new Array();
function Comment (st,en,subject,text) {
    this.st = st;
    this.en = en;
    this.text = text;
    this.subject=subject;
}

{% for comment in comments %}
comments[{{loop.index0}}]=new Comment({{comment.start}},{{comment.end}},"{{comment.subject}}","{{comment.details}}");
{% endfor %}


commentlength=comments.length;
</script>

</head>

<body>
<div id="commentsubmit" style="position:fixed;left:60%;top:0px; width:40%;height:20%;background-color:yellow">
<form id="commentsubmit" action="/addComment/{{title}}" method="POST">
	<input type="text" name="start" value="Start Line" onFocus='if (this.value=="Start Line") this.value="";' onBlur='if (this.value=="") this.value="Start Line";'>
		
		<input type="text" name="end" value="End Line" onFocus='if (this.value=="End Line") this.value="";' onBlur='if (this.value=="") this.value="End Line";'>
		<input type="text" name="subject" value="Subject" onFocus='if (this.value=="Subject") this.value="";' onBlur='if (this.value=="") this.value="Subject";'>
		<input type="submit">
		<br>
		<textarea name="details" cols="57" rows="4" onFocus='if (this.value=="Comment") this.value="";' onBlur='if (this.value=="") this.value="Comment";'>Comment</textarea>
	<br>
</div>
<div id="comments" style="position:fixed;left:60%;width:40%;top:20%;height:100%;background-color:#33CC33;overflow-y:auto;">
	<!--<div id="commentstext" style="left:0px;top:0px;-->

	
</div>
<div id="text" style="left:0px;top:0px;width:60%;background-color:#f5f5dc;margin-top:0px;margin-left:0px;position:fixed;height:100%;overflow-y:auto;">
<div id="textholder">
	{% for line in paragraphs%}
	<div id="line{{loop.index0}}">{{loop.index0}}:<p style="position:relative:top:0px;margin-top:0px;margin-left:20px;">{{line}}</p></div>
	{% endfor %}
</div>
</div>
</body>

</html>